<!DOCTYPE html>
<html lang="en">
<% include layout/head %>
<% include layout/nav %>
<body>
    <div id="wrapper">
        <div class="intro">
            <h2>각종 최근 정보들을 확인해보자!</h2>
            <p>확인 가즈아!</p>
        </div>
    </div>
</body>
</html>