<div class="nav">
    <div class="home">
        <p>
            <a href="/">Home</a>
        </p>
    </div>
    <ul class="menu">
        <li>
            <a href="/soulworker">소울워커 공지</a>
        </li>
        <li>
            <a href="/manamoaLike">만화 속 인기도</a>
        </li>
        <li>
            <a href="/manamoa">만화 검색</a>
        </li>
    </ul>
</div>