<!DOCTYPE html>
<html lang="en">
<% include layout/head.ejs %>
<% include layout/nav.ejs %>

<body>
    <div class="nav">
        <ul class="menu">
            <li>
                <a href="/soulworker">소울워커 공지</a>
            </li>
            <li>
                <a href="/manamoa">마나모아 최신화</a>
            </li>
        </ul>
    </div>
</body>
</html>